<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JPO Research Explorer{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <!-- Vis.js CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/dist/vis-network.min.css" />

    {% block head %}{% endblock %}
</head>

<body>

    <header>
        <div class="container">
            <div class="logo">
                <a href="/">Philosophy in Jewish History</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/persons">Persons</a></li>
                    <li><a href="/works">Historical Works</a></li>
                    <li><a href="/scholarly">Scholarly Works</a></li>
                    <li><a href="/places">Places</a></li>
                    <li><a href="/map">Map</a></li>
                    <li><a href="/network">Network</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2026 Medieval Jewish Philosophy Project. A Digital Humanities tool.</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis-network/9.1.2/dist/vis-network.min.js"></script>
    {% block scripts %}{% endblock %}
</body>

</html>