@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles can go here */
:root {
  --font-serif: 'Georgia', serif;
  --font-sans: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  @apply bg-gray-50 text-gray-900;
  font-family: var(--font-serif);
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-sans {
  font-family: var(--font-sans);
}